<div id="channelModal" class="btf-modal">
	<a ng-click="modal.closeChannelModal()"><img class="closeButton" src="http://www.armstrong.com/commceilingsna/responsive/images/close-x.png" alt=""></a>
	<div id="mainChannelHeader">
		<h1 class="channelHeader">Create a Channel</h1>
	</div>
	<div ng-controller="ChannelCtrl">
		<div id="channelContainer">
			<h5 id="channelNameHeader">Name:</h5>
			<input id="channelInput" type="text" ng-model="channelName">
		</div>
		<button ng-click="addChannel()">Add Channel</button>
	</div>
</div>
