<div ng-controller="ChannelCtrl"  ng-hide="hideSidebar">
<p>Channels{{channelNum}}</p>
<div ng-controller="MyCtrl as ctrl">
	<a class="material-icons" ng-click="ctrl.showChannelModal()"><img src="http://image.flaticon.com/icons/png/128/54/54443.png" alt="" id="add-channel"></a>
</div>

<a class="channelLinks" ng-href="#/messages/{{channel.name}}/{{channel.channelId}}" ng-repeat="channel in channels" ng-click="loadChannel(channel.channelId)">
{{channel.name}}
</a>
</div>
<div ng-controller="SidebarCtrl">
<div ng-controller="MyCtrl as ctrl">
	<a class="material-icons" ng-click="ctrl.showConvoModal()"><img src="http://image.flaticon.com/icons/png/128/54/54443.png" alt="" id="add-channel"></a>
</div>
<a ng-repeat="info in convoInfo" ng-href="#/conversations/{{info.id}}">{{info.name}}</a>
</div>