
<div>
	<div id="messageContainer" >
		<div ng-repeat="message in messageList">
			<img class="messagePicture" ng-src="{{message.userPicture}}">
			<a class="messageName" ng-attr-data="{{message.uid}}" ng-href="#/profile/{{message.uid}}" >{{message.userName}}</a>
			<span class="timestamp">{{message.timestamp}}</span>
				<img ng-show="{{message.isMedia}}" ng-src="{{message.mediaSource}}">
				<iframe ng-show="{{message.isYoutube}}" width="560" height="315" ng-src="{{getIframeSrc(message.youtubeKey)}}" frameborder="0" allowfullscreen></iframe>
				<div>{{message.text}}</div>

		</div>
	</div>
	<div class="emojiContainer">
		<input  ng-model="userMessage" ng-enter="sendMessage()" id="userInput">
	</div>
</div>
