<div class="row">
	<div id="sidebar" ng-controller="SidebarCtrl" ng-hide="hideSidebar" class="col s2 z-depth-1">
		<div ng-include="'/views/channels.html'"></div>
	</div>
	<div id="messageContainer" class="col s10" >
		<div id="messageWindow">
			<div ng-repeat="message in messageList">
				<div class="row">
					<div id="messageCard">
						<div class="row">
							<div class="col s1" id="messagePicture">
								<img class="messagePicture" ng-src="{{message.userPicture}}">
							</div>
							<div class="col s3" id="messageBody">
								<a class="messageName" ng-attr-data="{{message.uid}}" ng-href="#/profile/{{message.uid}}" >{{message.userName}}</a>
								<span class="timestamp">{{message.timestamp}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col s10 push-s1">
								<img ng-show="{{message.isMedia}}" ng-src="{{message.mediaSource}}">
								<iframe ng-show="{{message.isYoutube}}" width="350" height="250" ng-src="{{getIframeSrc(message.youtubeKey)}}" frameborder="0" allowfullscreen></iframe>
								<div>
									{{message.text}}
									<input ng-show="$scope.message.id" type="text" placeholder="edit message">
								</div>
							</div>
							<a ng-click="edit(message.id)" href="" title="">
							<div id="edit" class="chip">edit</div>
							</a>
							<a ng-click="delete(message.id)" href="" title="">
							<div id="delete" class="chip">delete</div>
							</a>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div id="emojiContainer" class="z-depth-1">
			<input  ng-model="userMessage" ng-enter="sendMessage()" id="userInput">
		</div>
	</div>
</div>
