<div>
	<h1>{{user.name}}</h1>
	<div><button ng-show="canEdit" ng-click="editProfile = true">Edit Profile</button></div>
	<img ng-src="{{user.profilePicture}}" alt="">
	<div>
		<div>About me:</div>{{user.aboutMe}}
		<div> <input ng-model="aboutMe" type="text" ng-show="editProfile"> </div>
	</div>
	<div>
		<div>Github:</div>{{user.github}}
		<div> <input ng-model="github" type="text" ng-show="editProfile"> </div>
	</div>
	<div>
		<div>Personal Website:</div>{{user.website}}
		<div> <input ng-model="personalWebsite" type="text" ng-show="editProfile"> </div>
	</div>
	<div><button ng-show="editProfile" ng-click= "saveChanges()">Save Changes</button></div>
</div>